<div *ngIf="motorcycles">

  <div class="row">
    <div class="mx-auto h2">Motocykle</div>
  </div>

  <mat-grid-list cols="4" rowHeight="2:1" [gutterSize]="'20px'">
    <mat-grid-tile *ngFor="let m of motorcycles" [routerLink]="['/motorcycles', m.id, 'details']">
      <div class="image" [style.backgroundImage]="'url('+m.images[0]+')'">
        <div class="info">{{m.model}}</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="form-horizontal mx-auto">
    <fieldset>

      <!-- Form Name -->
      <legend>Dodawanie nowego motocykla</legend>

      <div class="form-group" class="col-md-4">
        <select class="browser-default custom-select" [(ngModel)]="motorcycle.brand">
          <option *ngFor="let brand of brands" [ngValue]="brand">{{ brand.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="carInput">Nazwa modelu</label>
        <div class="col-md-4">
          <input id="carInput" name="textinput" type="text" placeholder="" [(ngModel)]="motorcycle.model"
                 class="form-control input-md" required="">

        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label" for="carInputYear">Rok</label>
        <div class="col-md-4">
          <input id="carInputYear" name="textinput" type="text" placeholder="" [(ngModel)]="motorcycle.year"
                 class="form-control input-md" required="">
        </div>
      </div>

      <div class="form-group" *ngFor="let image of motorcycle.images; let i = index;trackBy:trackByIndex;">
        <label class="col-md-4 control-label" for="carInputYear">Zdjęcie {{ i + 1 }}</label>
        <div class="col-md-4">
          <input type="text" placeholder="" [(ngModel)]="motorcycle.images[i]" name="a--{{i}}"
                 class="form-control input-md" required="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="carInputYear">Opis</label>
        <div class="col-md-4">
        <textarea type="text" placeholder="" [(ngModel)]="motorcycle.info"
                  class="form-control input-md" required=""></textarea>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="carAddButton"></label>
        <div class="col-md-4">
          <button id="carAddButton" name="addButton" class="btn btn-success" (click)="createMotorcycle()">Dodaj</button>
        </div>
      </div>

    </fieldset>
  </div>
</div>
