<div *ngIf="cars">

  <div class="row">
    <div class="mx-auto h2">Samochody</div>
  </div>

  <mat-grid-list cols="4" rowHeight="2:1" [gutterSize]="'20px'">
    <mat-grid-tile *ngFor="let c of cars" [routerLink]="['/cars', c.id, 'details']">
      <div class="image" [style.backgroundImage]="'url('+c.images[0]+')'">
        <div class="info">{{c.model}}</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider class="my-3"></mat-divider>
  <div class="row">
    <div class="mx-auto h2">Zarządzaj</div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Model</th>
        <th scope="col">Rok</th>
        <th scope="col">Marka</th>
        <th scope="col">Zapisz</th>
        <th scope="col">Usuń</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of cars">
        <td>{{ c.id }}</td>
        <td><input type="text" class="form-control" [(ngModel)]="c.model"></td>
        <td><input type="text" class="form-control" [(ngModel)]="c.year"></td>
        <td>
          <select class="browser-default custom-select" [(ngModel)]="c.brand" [compareWith]="compareFn">
            <option *ngFor="let brand of brands" [ngValue]="brand">{{ brand.name }}</option>
          </select>
        </td>
        <td>
          <button class="btn btn-warning text-white" (click)="updateCar(c.id)">Zapisz</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteCar(c.id)">Usuń</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!cars">
  <mat-spinner></mat-spinner>
</div>

<div class="form-horizontal mx-auto">
  <fieldset>

    <!-- Form Name -->
    <legend>Dodawanie nowego samochodu</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="carInput">Nazwa modelu</label>
      <div class="col-md-4">
        <input id="carInput" name="textinput" type="text" placeholder="" [(ngModel)]="car.model"
               class="form-control input-md" required="">

      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label" for="carInputYear">Rok</label>
      <div class="col-md-4">
        <input id="carInputYear" name="textinput" type="text" placeholder="" [(ngModel)]="car.year"
               class="form-control input-md" required="">
      </div>
    </div>

    <div class="form-group" *ngFor="let image of car.images; let i = index;trackBy:trackByIndex;">
      <label class="col-md-4 control-label" for="carInputYear">Zdjęcie {{ i + 1 }}</label>
      <div class="col-md-4">
        <input type="text" placeholder="" [(ngModel)]="car.images[i]" name="a--{{i}}"
               class="form-control input-md" required="">
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="carAddButton"></label>
      <div class="col-md-4">
        <button id="carAddButton" name="addButton" class="btn btn-success" (click)="createCar()">Dodaj</button>
      </div>
    </div>

  </fieldset>
</div>
