mat-grid-tile:hover {
  -webkit-box-shadow: 0px 0px 46px 0px rgba(0, 128, 255, 0.55);
  -moz-box-shadow: 0px 0px 46px 0px rgba(0, 128, 255, 0.55);
  box-shadow: 0px 0px 46px 0px rgba(0, 128, 255, 0.55);
  display: inline-block;
}

mat-grid-tile {
  transition: all .25s linear;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

.backg:hover > .info {
  visibility: visible;

  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}


.info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 33px;
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

.backg {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
