<nav class="navbar navbar-expand-lg  young-passion-gradient">
  <div class="container collapse navbar-collapse" id="basicExampleNav">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="core/vehicles">Wszystko</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="core/cars">Samochody</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="core/motorcycles">Motocykle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="core/manage">Zarządzaj</a>
      </li>
    </ul>
  </div>
</nav>
