<div *ngIf="vehicles">
  <div class="row">
    <div class="mx-auto h2">Samochody</div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Model</th>
        <th scope="col">Rok</th>
        <th scope="col">Marka</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let v of vehicles">
        <td><input type="text" class="form-control" [(ngModel)]="v.model"></td>
        <td><input type="text" class="form-control" [(ngModel)]="v.year"></td>
        <td>
          <select class="browser-default custom-select" [(ngModel)]="v.brand" [compareWith]="compareFn">
            <option *ngFor="let brand of brands" [ngValue]="brand">{{ brand.name }}</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="!vehicles">
  <mat-spinner></mat-spinner>
</div>
