<div *ngIf="cars">

  <div class="row">
    <div class="mx-auto h2">Samochody</div>
  </div>

  <mat-grid-list cols="4" rowHeight="2:1" [gutterSize]="'20px'">
    <mat-grid-tile *ngFor="let c of cars" [routerLink]="['/core/cars', c.id, 'details']">
      <div class="image" [style.backgroundImage]="'url('+c.images[0]+')'">
        <div class="info">{{c.model}}</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-divider class="my-3"></mat-divider>

</div>

<div class="container">
  <div class="row">

    <div *ngIf="!cars" class="mx-auto">
      <mat-spinner class="mx-auto"></mat-spinner>
      <h3><i>Uruchamianie serwera...</i></h3>
    </div>

  </div>
</div>
