<nav class="navbar navbar-expand-lg  young-passion-gradient">
  <div class="container collapse navbar-collapse" id="basicExampleNav">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/vehicles">Wszystko</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cars">Samochody</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/motorcycles">Motocykle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/brands">Marki</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage">Zarządzaj</a>
      </li>
    </ul>
  </div>
</nav>
