<mat-tab-group dynamicHeight mat-align-tabs="center">
  <mat-tab label="Samochody">
    <div class="example-small-box mat-elevation-z4">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Model</th>
          <th scope="col">Rok</th>
          <th scope="col">Marka</th>
          <th scope="col">Zapisz</th>
          <th scope="col">Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of cars">
          <td><input type="text" class="form-control" [(ngModel)]="c.model"></td>
          <td><input type="text" class="form-control" [(ngModel)]="c.year"></td>
          <td>
            <select class="browser-default custom-select" [(ngModel)]="c.brand" [compareWith]="compareFn">
              <option *ngFor="let brand of brands" [ngValue]="brand">{{ brand.name }}</option>
            </select>
          </td>
          <td>
            <button class="btn btn-warning text-white" (click)="updateCar(c.id)">Zapisz</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteCar(c.id)">Usuń</button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="form-horizontal mx-auto">
        <!-- Form Name -->
        <legend>Dodawanie nowego samochodu</legend>

        <div class="form-group" class="col-md-4">
          <select class="browser-default custom-select" [(ngModel)]="car.brand">
            <option *ngFor="let brand of brands" [ngValue]="brand">{{ brand.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="carInput">Nazwa modelu</label>
          <div class="col-md-4">
            <input id="carInput" name="textinput" type="text" placeholder="" [(ngModel)]="car.model"
                   class="form-control input-md" required="">

          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="carInputYear">Rok</label>
          <div class="col-md-4">
            <input id="carInputYear" name="textinput" type="text" placeholder="" [(ngModel)]="car.year"
                   class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group" *ngFor="let image of car.images; let i = index;trackBy:trackByIndex;">
          <label class="col-md-4 control-label" for="carInputYear">Zdjęcie {{ i + 1 }}</label>
          <div class="col-md-4">
            <input type="text" placeholder="" [(ngModel)]="car.images[i]" name="a--{{i}}"
                   class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="carInputYear">Opis</label>
          <div class="col-md-4">
        <textarea type="text" placeholder="" [(ngModel)]="car.info"
                  class="form-control input-md" required=""></textarea>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="carAddButton"></label>
          <div class="col-md-4">
            <button id="carAddButton" name="addButton" class="btn btn-success" (click)="createCar()">Dodaj</button>
          </div>
        </div>

      </div>
    </div>
  </mat-tab>
  <mat-tab label="Motocykle">
    <div class="example-large-box mat-elevation-z4">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Model</th>
          <th scope="col">Rok</th>
          <th scope="col">Marka</th>
          <th scope="col">Zapisz</th>
          <th scope="col">Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let m of motorcycles">
          <td><input type="text" class="form-control" [(ngModel)]="m.model"></td>
          <td><input type="text" class="form-control" [(ngModel)]="m.year"></td>
          <td>
            <select class="browser-default custom-select" [(ngModel)]="m.brand" [compareWith]="compareFn">
              <option *ngFor="let brand of brands" [ngValue]="brand">{{ brand.name }}</option>
            </select>
          </td>
          <td>
            <button class="btn btn-warning text-white" (click)="updateMotorcycles(m.id)">Zapisz</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteMotorcycles(m.id)">Usuń</button>
          </td>
        </tr>
        </tbody>
      </table>
      <fieldset>
        <legend>Dodawanie nowego motocykla</legend>

        <div class="form-group" class="col-md-4">
          <select class="browser-default custom-select" [(ngModel)]="motorcycle.brand">
            <option *ngFor="let brand of brands" [ngValue]="brand">{{ brand.name }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="carInput">Nazwa modelu</label>
          <div class="col-md-4">
            <input id="carInput" name="textinput" type="text" placeholder="" [(ngModel)]="motorcycle.model"
                   class="form-control input-md" required="">

          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="carInputYear">Rok</label>
          <div class="col-md-4">
            <input id="carInputYear" name="textinput" type="text" placeholder="" [(ngModel)]="motorcycle.year"
                   class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group" *ngFor="let image of motorcycle.images; let i = index;trackBy:trackByIndex;">
          <label class="col-md-4 control-label" for="carInputYear">Zdjęcie {{ i + 1 }}</label>
          <div class="col-md-4">
            <input type="text" placeholder="" [(ngModel)]="motorcycle.images[i]" name="a--{{i}}"
                   class="form-control input-md" required="">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="carInputYear">Opis</label>
          <div class="col-md-4">
        <textarea type="text" placeholder="" [(ngModel)]="motorcycle.info"
                  class="form-control input-md" required=""></textarea>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="carAddButton"></label>
          <div class="col-md-4">
            <button id="carAddButton" name="addButton" class="btn btn-success" (click)="createMotorcycle()">Dodaj
            </button>
          </div>
        </div>

      </fieldset>
    </div>
  </mat-tab>
  <mat-tab label="Nowa marka">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Edytuj</th>
        <th scope="col">Usuń</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let brand of brands">
        <td>{{brand.id}}</td>
        <td><input type="text" class="form-control" [(ngModel)]="brand.name"></td>
        <td>
          <button class="btn btn-warning text-white" (click)="updateBrand(brand.id)">Edytuj</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteBrand(brand.id)">Usuń</button>
        </td>
      </tr>
      </tbody>
    </table>
    <fieldset>

      <!-- Form Name -->
      <legend>Dodawanie nowej marki</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label" for="textinput">Nazwa marki</label>
        <div class="col-md-4">
          <input id="textinput" name="textinput" type="text" placeholder="" [(ngModel)]="brand.name"
                 class="form-control input-md" required="">

        </div>
      </div>
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="addButton"></label>
        <div class="col-md-4">
          <button id="addButton" name="addButton" class="btn btn-success" (click)="createBrand()">Dodaj</button>
        </div>
      </div>

    </fieldset>
  </mat-tab>
</mat-tab-group>
